/* frontend/src/index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .App {
    text-align: center;
    margin: 1rem 10rem;
  }
  
  .weather-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .weather-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 315px;
  }